<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {{ renderStyle('app') }}

    <title>{{ metaTitle|default('AsyncAWS') }}</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-72201185-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-72201185-3');
    </script>
</head>
<body>
<div class="d-flex">
    <nav id="sidebar" class="sidebar">
        <div class="custom-menu-toggle">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
                &#9776;
                <span class="sr-only">Toggle Menu</span>
            </button>
        </div>
        <div class="p-4 pt-1">
            <a href="/" class="logo mx-auto d-block">
                <img src="{{ asset('assets/image/logo.png') }}" alt="AsyncAws logo" />
            </a>
            <ul class="list-unstyled p-0 mb-5">

            {% for rootItemId, rootItem in menu %}
                {% if rootItem.section is defined %}
                <li>
                    <a href="#{{ rootItemId }}" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">{{ rootItem.section }}</a>
                    <ul class="collapse list-unstyled {{ rootItemId == category ? 'show' : '' }}" id="{{ rootItemId }}">
                {% endif %}
                {% for itemId, item in rootItem.items %}
                    <li {{ ((category is defined and rootItemId in currentFile) or (category is not defined and rootItem.section is not defined)) and itemId in currentFile  ? 'class="current"' : '' }}>
                        <a href="{{ item.url }}">
                            {{ item.text }}
                        </a>
                    </li>
                {% endfor %}
                    {% if rootItem.section is defined %}
                    </ul>
                </li>
                {% endif %}
            {% endfor %}
            </ul>

            <p class="created-by">
                Async AWS is created by <br>
                <a href="https://github.com/jderusse">Jérémy Derussé</a>,
                <a href="https://github.com/Nyholm">Tobias Nyholm</a> <br>
                and <a href="https://github.com/async-aws/aws/graphs/contributors">contributors</a>.
            </p>

            <p class="copyright mt-5">
                Copyright &copy; 2020<br>
                Project licensed under MIT
            </p>
        </div>
    </nav>

    <main role="main" id="content" class="content p-4 p-md-5 pt-5">
    {% include 'contribute.twig' %}
    {% block body %}{% endblock %}
    </main>
</div>

{{ renderScript('app') }}
</body>
</html>
